# Ignore Helm-related files and directories
charts/
Chart.lock
.helmignore

# Ignore build artifacts
*.tgz
*.tar.gz

# Ignore temporary and system files
*.swp
*.bak
*.tmp
*.orig
*.log
.DS_Store
Thumbs.db

# Ignore IDE and editor directories and files
.idea/
.vscode/
*.iml

# Ignore dependency directories
node_modules/
dist/

# Ignore environment and config files
.env
.env.*
secrets.yaml
values-secrets.yaml

# Added by benjaminpreiss
vars/*
!vars/*/
vars/*/**
!vars/*/*.nonce
!vars/*/*.tar.gz.aes256gcm.enc
