#!/bin/bash

# Build and run with no cache
docker compose \
    --env-file "./vars/.env" \
    -f ./docker-compose.yml \
    -p "backup_{{ client_name }}_{{ project_name }}" \
    build --no-cache

# Export CMD if it exists
[ -n "$COMMAND" ] && export COMMAND

# Run docker compose with project-specific name
SFTP_HOST_PUBKEY="$(cat './vars/host_id_ed25519.pub')" \
SFTP_USER_PRIVKEY="$(cat './vars/user_id_ed25519')" \
ANSIBLE_RUN_TIMESTAMP="${ANSIBLE_RUN_TIMESTAMP}" \
docker compose \
    --env-file "./vars/.env" \
    -f ./docker-compose.yml \
    -p "backup_{{ client_name }}_{{ project_name }}" \
    up \
    --build \
    --remove-orphans \
    --exit-code-from rustic
