services:
{% if project_vars.create_sftp | bool %}
  sftp:
    image: atmoz/sftp
    container_name: sftp_{{ client_name }}_{{ project_name }}
    restart: always
    security_opt:
      - no-new-privileges:true
    read_only: true
    cap_drop:
      - ALL
    volumes:
      - {{ base_app_path }}/{{ client_name }}/{{ project_name }}/vars/host_id_ed25519:/etc/ssh/ssh_host_ed25519_key:ro
      - {{ base_app_path }}/{{ client_name }}/{{ project_name }}/vars/user_id_ed25519.pub:/home/sftpuser/.ssh/keys/id_ed25519.pub:ro
      - {{ base_app_path }}/{{ client_name }}/{{ project_name }}/persisted/sftp:/home/sftpuser:ro
    command: "${SFTP_USER}::1001"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - backup-net
{% endif %}

  rustic:
    image: rustic-image:latest
    container_name: rustic_{{ client_name }}_{{ project_name }}
    build:
      context: {{ base_app_path }}/{{ client_name }}/{{ project_name }}/src
      args:
        ENV: "${ENV}"
    security_opt:
      - no-new-privileges:true
    privileged: false
    devices:
      - "/dev/fuse:/dev/fuse"
    cap_drop:
      - ALL
    cap_add:
      - SYS_ADMIN
    volumes:
      - {{ base_app_path }}/{{ client_name }}/{{ project_name }}/vars/rclone.conf.template:/tmp/rclone.conf.template:ro
      - {{ base_app_path }}/{{ client_name }}/{{ project_name }}/persisted/rustic:/persisted
    tmpfs:
      - /tmp:size=100M,exec,nosuid
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      SFTP_HOST: "${SFTP_HOST}"
      SFTP_PORT: "${SFTP_PORT}"
      SFTP_USER: "${SFTP_USER}"
      SFTP_HOST_PUBKEY: "${SFTP_HOST_PUBKEY}"
      SFTP_USER_PRIVKEY: "${SFTP_USER_PRIVKEY}"
      REMOTE_ENDPOINT: "${REMOTE_ENDPOINT}"
      REMOTE_BUCKET_NAME: "${REMOTE_BUCKET_NAME}"
      REMOTE_PATH: "${REMOTE_PATH}"
      REMOTE_ACCESS_KEY_ID: "${REMOTE_ACCESS_KEY_ID}"
      REMOTE_SECRET_ACCESS_KEY: "${REMOTE_SECRET_ACCESS_KEY}"
      REMOTE_REGION: "${REMOTE_REGION}"
      REMOTE_STORAGE_CLASS: "${REMOTE_STORAGE_CLASS}"
      RUSTIC_ENCRYPTION_PASSWORD: "${RUSTIC_ENCRYPTION_PASSWORD}"
      VFS_CACHE_MAX_SIZE: "${VFS_CACHE_MAX_SIZE}"
      RCLONE_MOUNT_PATH: "${RCLONE_MOUNT_PATH}"
      ORIGIN_PATH: "${ORIGIN_PATH}"
    networks:
      - backup-net
    command: "${COMMAND}"

networks:
  backup-net:
    name: backup-net-{{ client_name }}-{{ project_name }}
